In [1]:
import numpy as np
import csv
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
kiva_loans = pd.read_csv("C:\\Users\\Martin Mbaya\\Desktop\\Parsel Tongue\\IBM\\Kaggle Projects\\Kiva\\data-science-for-good-kiva-crowdfunding\\kiva_loans.csv")
kiva_mpi_region_locations = pd.read_csv("C:\\Users\\Martin Mbaya\\Desktop\\Parsel Tongue\\IBM\\Kaggle Projects\\Kiva\\data-science-for-good-kiva-crowdfunding\\kiva_mpi_region_locations.csv")
loan_theme_ids = pd.read_csv("C:\\Users\\Martin Mbaya\\Desktop\\Parsel Tongue\\IBM\\Kaggle Projects\\Kiva\\data-science-for-good-kiva-crowdfunding\\loan_theme_ids.csv")
loan_themes_by_region = pd.read_csv("C:\\Users\\Martin Mbaya\\Desktop\\Parsel Tongue\\IBM\\Kaggle Projects\\Kiva\\data-science-for-good-kiva-crowdfunding\\loan_themes_by_region.csv")

In [3]:
# kiva_loans.dtypes
# kiva_loans.head()
kiva_loans.columns

Index(['id', 'funded_amount', 'loan_amount', 'activity', 'sector', 'use',
       'country_code', 'country', 'region', 'currency', 'partner_id',
       'posted_time', 'disbursed_time', 'funded_time', 'term_in_months',
       'lender_count', 'tags', 'borrower_genders', 'repayment_interval',
       'date'],
      dtype='object')

In [4]:
# kiva_loans.disbursed_time = pd.to_datetime(kiva_loans.disbursed_time)
# # kiva_loans.posted_time = pd.to_datetime(kiva_loans.posted_time)
# kiva_loans.funded_time = pd.to_datetime(kiva_loans.funded_time)
# kiva_loans.dtypes
# kiva_loans.head(6)
# time_to_fund = pd.to_datetime(kiva_loans.funded_time) - pd.to_datetime(kiva_loans.disbursed_time)
kiva_loans["time_to_fund"] = (pd.to_datetime(kiva_loans.funded_time) - pd.to_datetime(kiva_loans.disbursed_time))
kiva_loans = kiva_loans.drop(['posted_time','loan_amount','use','tags','disbursed_time', 'funded_time', 'date', 'currency'], axis=1)

In [5]:
# kiva_loans.describe()
kiva_mpi_region_locations.head()

,LocationName,ISO,country,region,world_region,MPI,geo,lat,lon
0,"Badakhshan, Afghanistan",AFG,Afghanistan,Badakhshan,South Asia,0.387,"(36.7347725, 70.81199529999999)",36.734772,70.811995
1,"Badghis, Afghanistan",AFG,Afghanistan,Badghis,South Asia,0.466,"(35.1671339, 63.7695384)",35.167134,63.769538
2,"Baghlan, Afghanistan",AFG,Afghanistan,Baghlan,South Asia,0.300,"(35.8042947, 69.2877535)",35.804295,69.287754
3,"Balkh, Afghanistan",AFG,Afghanistan,Balkh,South Asia,0.301,"(36.7550603, 66.8975372)",36.755060,66.897537
4,"Bamyan, Afghanistan",AFG,Afghanistan,Bamyan,South Asia,0.325,"(34.8100067, 67.8212104)",34.810007,67.821210

In [6]:
# kiva_mpi_region_locations.ix[2700:]
# kiva_mpi_region_locations[kiva_mpi_region_locations.isnull().any(axis=1)]
# kiva_mpi_region_locations.dropna(axis=0, how='any')
# kiva_mpi_region_locations.dropna(axis=0, how='all')
# kiva_mpi_region_locations.drop(['LocationName', 'lat', 'lon'], axis=1)
kiva_mpi_region_locations = kiva_mpi_region_locations.dropna(thresh=2);
kiva_mpi_region_locations = kiva_mpi_region_locations.drop(['LocationName', 'lat', 'lon'], axis=1);

In [65]:
loan_theme_ids.head()

       id    Loan Theme ID          Loan Theme Type  Partner ID
0  638631  a1050000000skGl                  General       151.0
1  640322  a1050000000skGl                  General       151.0
2  641006  a1050000002X1ij         Higher Education       160.0
3  641019  a1050000002X1ij         Higher Education       160.0
4  641594  a1050000002VbsW  Subsistence Agriculture       336.0

In [7]:
loan_themes_by_region.columns
loan_themes_by_region = loan_themes_by_region.drop(['Field Partner Name', 'sector', 'LocationName', 'lat', 'lon', 'names','mpi_region', 'geocode_old', 'geocode', 'mpi_geo'], axis=1)

In [8]:
loan_themes_by_region.head()

,Partner ID,Loan Theme ID,Loan Theme Type,country,forkiva,region,ISO,number,amount,geo,rural_pct
0,9,a1050000000slfi,Higher Education,Cambodia,No,Banteay Meanchey,KHM,1,450,"(13.6672596, 102.8975098)",90.0
1,9,a10500000068jPe,Vulnerable Populations,Cambodia,No,Battambang Province,KHM,58,20275,"(13.0286971, 102.989615)",90.0
2,9,a1050000000slfi,Higher Education,Cambodia,No,Battambang Province,KHM,7,9150,"(13.0286971, 102.989615)",90.0
3,9,a10500000068jPe,Vulnerable Populations,Cambodia,No,Kampong Cham Province,KHM,1383,604950,"(12.0982918, 105.3131185)",90.0
4,9,a1050000002X1Uu,Sanitation,Cambodia,No,Kampong Cham Province,KHM,3,275,"(12.0982918, 105.3131185)",90.0

In [9]:
compiled_file = kiva_loans

In [11]:
compiled_file.head()
compiled_file.columns

Index(['id', 'funded_amount', 'activity', 'sector', 'country_code', 'country',
       'region', 'partner_id', 'term_in_months', 'lender_count',
       'borrower_genders', 'repayment_interval', 'time_to_fund'],
      dtype='object')

In [12]:
kiva_mpi_region_locations.columns

Index(['ISO', 'country', 'region', 'world_region', 'MPI', 'geo'], dtype='object')

In [21]:
Get_mpi = [mpis for k in compiled

SyntaxError: invalid syntax (<ipython-input-21-bcf984621eee>, line 1)

In [22]:
Get_mpi = []
for k in compiled_file.region:
    for v in range(len(kiva_mpi_region_locations.region)):
        if k == kiva_mpi_region_locations.region[v]:
            Get_mpi.append(kiva_mpi_region_locations.MPI[v])

KeyboardInterrupt: